name: Build devcontainer image and publish to DockerHub

on:
  push:
    tags:
      - '*'

env:
  DOCKERHUB_REPO: letsdone/devcontainer-java

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Generate App Version
        run: echo APP_VERSION=`git describe --tags --always` >> $GITHUB_ENV
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@master
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push (No Claude preinstalled)
        id: build-and-push
        uses: docker/build-push-action@master
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ env.DOCKERHUB_REPO }}:${{ env.APP_VERSION }}
          
      - name: Build and push (Claude preinstalled)
        id: build-and-push-with-claude
        uses: docker/build-push-action@master
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ${{ env.DOCKERHUB_REPO }}:latest
            ${{ env.DOCKERHUB_REPO }}:${{ env.APP_VERSION }}-claude
          build-args: |
            CLAUDE_PREINSTALLED=true